@model RSSolution.ViewModels.Catalog.MealCategories.MealCategoryCreateRequest
@{ ViewData["Title"] = "AddMealCategory";
                Layout = "_Layout"; }

<div id="page-wrapper">
    <div class="main-page">
        <center><h1 class="mt-4">Add New Meal</h1></center><hr />
        <div class="grid-bottom widget-shadow">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SeoDescription" class="control-label"></label>
                    <input asp-for="SeoDescription" class="form-control" />
                    <span asp-validation-for="SeoDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SeoTitle" class="control-label"></label>
                    <input asp-for="SeoTitle" class="form-control" />
                    <span asp-validation-for="SeoTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SeoAlias" class="control-label"></label>
                    <input asp-for="SeoAlias" class="form-control" />
                    <span asp-validation-for="SeoAlias" class="text-danger"></span>
                </div>
                <center>
                    <div class="form-group">
                        <input type="submit" value="Create New" class="btn btn-primary" />
                        <a class="btn btn-success" asp-action="Index" asp-controller="MealCategory">Back to list</a>
                    </div>
                </center>
            </form>
        </div>
    </div>
</div>