@model RSSolution.ViewModels.System.Users.RegisterRequest
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="~/login/css/style.css" type="text/css" media="all" />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
</head>
<body>
    <div class="signinform">
        <h1 style="font-family:'Pacifico', fantasy; color:aliceblue"> Register</h1>
        <!-- container -->
        <div class="containers">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <form asp-action="Register">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="Dob" class="control-label"></label>
                            <input asp-for="Dob" class="form-control" />
                            <span asp-validation-for="Dob" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="District"></label>
                            <select name="DistrictId" asp-items="@ViewBag.District" class="form-control">
                                <option>--Select District--</option>
                            </select>
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="Province"></label>
                            <select name="ProvinceId" asp-items="@ViewBag.Province" class="form-control">
                                <option>--Select Province--</option>
                            </select>
                            <span asp-validation-for="Province" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <center><div><a asp-action="Login" asp-controller="Account">Already have an account.</a></div></center>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
    </div>
    <!-- fontawesome v5-->
    <script src="~/login/js/fontawesome.js"></script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}