@model RSSolution.ViewModels.System.Users.UserDeleteRequest
@{ 
    ViewData["Title"] = "Delete";
    Layout = "_Layout"; 
}

<div id="page-wrapper">
    <div class="main-page">
        <center><h3 class="title1">Delete User</h3></center>
        <div class="grid-bottom widget-shadow">
            <table class="table table-bordered table-striped no-margin grd_tble">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Id)
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr />
            <center>
                <form asp-action="Delete">
                    <input asp-for="Id" type="hidden" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-area="" asp-controller="User" asp-action="Index" class="btn btn-primary">Back to list</a>
                </form>
            </center>
        </div>
    </div>
</div>
