@model ViewModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<div id="sidebar" class="span2">
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @{
            var parents = Model.mealcategory.Where(x => x.ParentId == null);
        }
        @for (int index = 0; index < parents.Count(); index++)
        {
            var parent = parents.ElementAt(index);
            var children = Model.mealcategory.Where(x => x.ParentId == parent.Id);
            if (children.Any())
            {
                <li class="subMenu open">
                    <a> @parent.Name</a>
                    <ul>
                        @foreach (var item in children)
                        {
                            <li><a class="active" href="/@culture/@_loc["mealCategoryUrl"]/@item.Id/@Model.tableId"><i class="icon-chevron-right"></i>@item.Name </a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a href="/@culture/@_loc["mealCategoryUrl"]/@parent.Id/@Model.tableId">@parent.Name</a></li>
            }

        }
    </ul>
    <br />
</div>