@model IndexVm
@{ ViewData["Title"] = "Home Page"; }
@{ 
    var total = "";
    @foreach (var item in Model.orderDetailVms)
    {
        var ordertotal = Model.orderDetailVms.Sum(x => (x.Quantity * x.Price)).ToString("N0");
        total = ordertotal;
    }

}
<body class="cbp-spmenu-push">
    <div class="main-content">
        <div id="page-wrapper">
            <div class="main-page">
                <div class="col_3">
                    <div class="col-md-4 widget widget1">
                        <div class="r3_counter_box">
                            <a class="pull-left fa fa-comment icon-rounded" href="#"></a>
                            <div class="stats">
                                <h5><strong>@Model.contactViews.Count()</strong></h5>
                                <span>Total Comments</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 widget widget1">
                        <div class="r3_counter_box">
                            <a class="pull-left fa fa-dollar icon-rounded" href="#"></a>
                            <div class="stats">
                                <h5><strong>@total VNĐ</strong></h5>
                                <span>Total Revenue</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 widget">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-users dollar2 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>@Model.userVms.Count()</strong></h5>
                                <span>Total Users</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="row-one widgettable">
                    <div class="col-md-9 content-top-2 card">
                        <div class="agileinfo-cdr">
                            <div class="card-header">
                                <h3>Count Promotion In Order</h3>
                            </div>
                            <div id="Piechart" style="width: 100%; height: 350px">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 stat">
                        <div class="content-top">
                            <div class="top-content facebook">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </div>
                            <ul class="info">
                                <li class="col-md-6"><b>1,296</b><p>Friends</p></li>
                                <li class="col-md-6"><b>647</b><p>Likes</p></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        <div class="content-top">
                            <div class="top-content twitter">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                            <ul class="info">
                                <li class="col-md-6"><b>1,997</b><p>Followers</p></li>
                                <li class="col-md-6"><b>389</b><p>Tweets</p></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        <div class="content-top">
                            <div class="top-content google-plus">
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                            <ul class="info">
                                <li class="col-md-6"><b>1,216</b><p>Followers</p></li>
                                <li class="col-md-6"><b>321</b><p>shares</p></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="row-one widgettable">
                    <div class="col-md-12 content-top-2 card">
                        <div class="agileinfo-cdr">
                            <div class="card-header">
                                <h3>User In Province</h3>
                            </div>
                            <div id="barchart_1" style="width: 100%; height: 400px">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="row-one widgettable">
                    <div class="col-md-12 content-top-2 card">
                        <div class="agileinfo-cdr">
                            <div class="card-header">
                                <h3>Status Of Booktable</h3>
                            </div>
                            <div id="barchart_2" style="width: 100%; height: 400px">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="row-one widgettable">
                    <div class="col-md-12 content-top-2 card">
                        <div class="agileinfo-cdr">
                            <div class="card-header">
                                <h3>Order In Day</h3>
                            </div>
                            <div id="barchart_3" style="width: 100%; height: 400px">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <!-- //Bootstrap Core JavaScript -->
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                dataType: "json",
                contentType: "application/json",
                url: '/api/chart/user_province',
                success: function (result1) {
                    console.log(result1);
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(function () { drawCharts1(result1); });
                }
            });
            $.ajax({
                type: 'GET',
                dataType: "json",
                contentType: "application/json",
                url: '/api/chart/status_booktable',
                success: function (result2) {
                    console.log(result2);
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(function () { drawCharts2(result2); });
                }
            });
            $.ajax({
                type: 'GET',
                dataType: "json",
                contentType: "application/json",
                url: '/api/chart/checkout_discountpercent',
                success: function (result3) {
                    console.log(result3);
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(function () { drawCharts3(result3); });
                }
            });
            $.ajax({
                type: 'GET',
                dataType: "json",
                contentType: "application/json",
                url: '/api/chart/total_order',
                success: function (result4) {
                    console.log(result4);
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(function () { drawCharts4(result4); });
                }
            });
        });

        function drawCharts1(result1) {
            var chartwidth = $(".container").width();
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Province');
            data.addColumn('number', 'TotalUser');
            var dataArray = [];
            $.each(result1, function (i, obj) { dataArray.push([obj.province, obj.totalUser]); });
            data.addRows(dataArray);

            var options = {
                title: "",
            }; barchart_1

            var chart = new google.visualization.BarChart(document.getElementById('barchart_1'));
            chart.draw(data, options);
        }
        function drawCharts2(result2) {
            var chartwidth = $(".container").width();
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'UserName');
            data.addColumn('number', 'TotalInProgress');
            data.addColumn('number', 'TotalConfirmed');
            data.addColumn('number', 'TotalCanceled');
            data.addColumn('number', 'TotalSuccess');
            var dataArray = [];
            $.each(result2, function (i, obj) { dataArray.push([obj.userName, obj.totalInProgress, obj.totalConfirmed, obj.totalCanceled, obj.totalSuccess]); });
            data.addRows(dataArray);

            var options = {
                title: "",
            }; barchart_2

            var chart = new google.visualization.BarChart(document.getElementById('barchart_2'));
            chart.draw(data, options);
        }
        function drawCharts3(result3) {
            var chartwidth = $(".container").width();

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'DiscounPercent');
            data.addColumn('number', 'TotalDiscountPercent');

            var dataArray = [];
            $.each(result3, function (i, obj) { dataArray.push([obj.discounPercent, obj.totalDiscountPercent]); });
            data.addRows(dataArray);

            var options = {
                title: "",
            };

            var chart = new google.visualization.PieChart(document.getElementById('Piechart'));
            chart.draw(data, options);
        }
        function drawCharts4(result4) {
            var chartwidth = $(".container").width();
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'TotalOrder');
            var dataArray = [];
            $.each(result4, function (i, obj) { dataArray.push([obj.date, obj.totalOrder]); });
            data.addRows(dataArray);

            var options = {
                title: "",
            }; barchart_3

            var chart = new google.visualization.ColumnChart(document.getElementById('barchart_3'));
            chart.draw(data, options);
        }
    </script>
</body>
