@model ContactViewModel
@{ ViewData["Title"] = "Contact";
    Layout = "_Layout-Page"; }
@{ var culture = CultureInfo.CurrentCulture.Name; }

<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="w3l-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18773.47024652013!2d106.616716271683!3d10.86912989860031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1619335529299!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="contact-form">
            <div class="row">
                @if (ViewBag.Success != null)
                {
                    <div id="msgAlert" class="alert alert-danger" role="alert" style="text-align:center;width: 380px; margin-left: auto; margin-right: auto;" >
                        <h4 style="font-family:'Pacifico', cursive">@ViewBag.Success</h4>
                    </div>
                 }
            </div>
            <h3>Contact form</h3>
            <form action="/@culture/Home/Contact" method="post">
                <input type="text" id="UserName" name="UserName" asp-for="@Model.UserName" placeholder="Name" required="">
                <input type="text" id="Email" name="Email" asp-for="@Model.Email" placeholder="Email" required="">
                <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="PhoneNumber" required="">
                <textarea id="Message" name="Message" placeholder="Your Comments" required=""></textarea>
                <input type="submit" value="Send">
            </form>
        </div>
        <div class="w3ls-contact-grids">
            <h3>Our Branches</h3>
            <div class="agileits-address-grids">
                <div class="col-md-4 address-text">
                    <div class="agileinfo-address-grid">
                        <h5>
                            10-43 Jack Road,
                            <span>Glasgow, D-6 78GH</span>
                        </h5>
                        <div class="wthree-address-info">
                            <div class="w3-agileits-address-info-left">
                                <p>Freephone :</p>
                            </div>
                            <div class="address-info-left address-info-right">
                                <p>+1 123 456 7890</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-address-info">
                            <div class="w3-agileits-address-info-left">
                                <p>Telephone :</p>
                            </div>
                            <div class="w3-agileits-address-info-left address-info-right">
                                <p>+1 123 456 7890</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-address-info">
                            <div class="w3-agileits-address-info-left">
                                <p>FAX :</p>
                            </div>
                            <div class="w3-agileits-address-info-left address-info-right">
                                <p>+1 123 456 7890</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="e-mail">
                            <p>E-mail : <a href="mailto:example@email.com">Example@mail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 address-text">
                    <div class="agileinfo-address-grid">
                        <h5>
                            09-45 Mary Road,
                            <span>London, J-9 09SD</span>
                        </h5>
                        <div class="wthree-address-info">
                            <div class="w3-agileits-address-info-left">
                                <p>Freephone :</p>
                            </div>
                            <div class="address-info-left address-info-right">
                                <p>+1 123 456 7890</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-address-info">
                            <div class="w3-agileits-address-info-left">
                                <p>Telephone :</p>
                            </div>
                            <div class="w3-agileits-address-info-left address-info-right">
                                <p>+1 123 456 7890</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-address-info">
                            <div class="w3-agileits-address-info-left">
                                <p>FAX :</p>
                            </div>
                            <div class="w3-agileits-address-info-left address-info-right">
                                <p>+1 123 456 7890</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="e-mail">
                            <p>E-mail : <a href="mailto:example@email.com">Example@mail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 address-text">
                    <div class="agileinfo-address-grid">
                        <h5>
                            34-05 Shone Road,
                            <span>Mexico, M-5 09SD</span>
                        </h5>
                        <div class="wthree-address-info">
                            <div class="w3-agileits-address-info-left">
                                <p>Freephone :</p>
                            </div>
                            <div class="w3-agileits-address-info-left address-info-right">
                                <p>+1 123 456 7890</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-address-info">
                            <div class="w3-agileits-address-info-left">
                                <p>Telephone :</p>
                            </div>
                            <div class="w3-agileits-address-info-left address-info-right">
                                <p>+1 123 456 7890</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-address-info">
                            <div class="w3-agileits-address-info-left">
                                <p>FAX :</p>
                            </div>
                            <div class="w3-agileits-address-info-left address-info-right">
                                <p>+1 123 456 7890</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="e-mail">
                            <p>E-mail : <a href="mailto:example@email.com">Example@mail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //contact -->
<script>setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
    }, 2000);</script>